{% extends 'base.html' %}

{% block content %}

<p>host index page</p>

<table>
    <caption>状态列表</caption>
    <tr>
        <!--<th>状态id</th>-->
        <th>状态id</th>
        <th>状态说明</th>
        <th>total</th>
        <th>操作</th>
    </tr>
    {% for gs_status in gs_status_list %}
    <tr>
        <!--<td>{{ gs_status.id }}</td>-->
        <td>{{ gs_status.status }}</td>
        <td>{{ gs_status.status_explain }}</td>
        <td>{{ gs_status.gs_status.count }}</td>
        <td><a href={% url "cmdb:gs-status-update" gs_status.id %}>更新</a></td>
        <td><a href={% url "cmdb:gs-status-delete" gs_status.id %}>删除</a></td>
    </tr>
    {% endfor%}
</table>

<p><a href={% url "cmdb:gs-status-add" %}>添加</a></p>
{% if is_paginated %}
<div>
    <span>
        <!--{% if first %}-->
            <!--<a href={% url "hostmanage:host_index" %}?page=1>1</a>-->
        <!--{% endif %}-->
        {% if page_obj.has_previous %}
            <a href={% url "hostmanage:role_list" %}?page={{ page_obj.previous_page_number }}>上一页</a>
        {% endif %}
        <span class="page-current">
            第{{ page_obj.number }}页 ，共{{ page_obj.paginator.num_pages }}页。
        </span>
        {% if page_obj.has_next %}
            <a href={% url "hostmanage:role_list" %}?page={{ page_obj.next_page_number }}>下一页</a>
        {% endif %}

    </span>
</div>
{% endif %}


{% endblock %}