{% extends 'adminlte/base.html' %}


{% block content %}

<!--<p>host index page</p>-->

<!-- Content Wrapper. Contains page content -->
<div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ info }}
        <!--<small>advanced tables</small>-->
      </h1>
      <ol class="breadcrumb">
          {{ request.path }}
        <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
        <!--<li><a href="#">Tables</a></li>-->
        <!--<li class="active">Data tables</li>-->
      </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="row-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">状态列表</h3>
                    </div>
                    <table id="exapmle2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <!--<th>状态id</th>-->
                            <th>状态id</th>
                            <th>状态说明</th>
                            <th>total</th>
                            <th>操作</th>
                        </tr>

                        </thead>
                        {% for gs_status in gs_status_list %}
                        <tr>
                            <!--<td>{{ gs_status.id }}</td>-->
                            <td>{{ gs_status.status }}</td>
                            <td>{{ gs_status.status_explain }}</td>
                            <td>{{ gs_status.gs_status.count }}</td>
                            <td>
                                <a href={% url "cmdb:gs-status-update" gs_status.id %}>更新</a> |
                                <a href={% url "cmdb:gs-status-delete" gs_status.id %}>删除</a>
                            </td>
                        </tr>
                        {% endfor%}
                        <tbody>
                        <tr></tr>
                        </tbody>
                    </table>
                    <p><a href={% url "cmdb:gs-status-add" %}>添加</a></p>
                    {% if is_paginated %}
                    <div>
                        <span>
                            <!--{% if first %}-->
                                <!--<a href={% url "hostmanage:host_index" %}?page=1>1</a>-->
                            <!--{% endif %}-->
                            {% if page_obj.has_previous %}
                                <a href={% url "hostmanage:role_list" %}?page={{ page_obj.previous_page_number }}>上一页</a>
                            {% endif %}
                            <span class="page-current">
                                第{{ page_obj.number }}页 ，共{{ page_obj.paginator.num_pages }}页。
                            </span>
                            {% if page_obj.has_next %}
                                <a href={% url "hostmanage:role_list" %}?page={{ page_obj.next_page_number }}>下一页</a>
                            {% endif %}

                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>


<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>

{% endblock %}






