{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="sitecollect">
    <h1>change one site type name</h1>




    <!--<form action="" method="post">-->
        <!--{% csrf_token %}-->
        <!--<label for="name">Name: </label>-->
        <!--<input id="type_name" type="text" name="typename" value=" {{ form.typename }} " />-->
        <!--<br />-->

        <!--&lt;!&ndash;<label for="password">E-mail: </label>&ndash;&gt;-->
        <!--&lt;!&ndash;<input id="user_email" type="text" name="email" value=" {{ form.email }} " />&ndash;&gt;-->
        <!--&lt;!&ndash;<br />&ndash;&gt;-->

        <!--&lt;!&ndash;<label for="password">password: </label>&ndash;&gt;-->
        <!--&lt;!&ndash;<input id="user_password" type="password" name="password" value=" {{ form.password }} " />&ndash;&gt;-->
        <!--&lt;!&ndash;<br />&ndash;&gt;-->



        <!--&lt;!&ndash;<button type="submit">login</button>&ndash;&gt;-->

        <!--<input type="submit" value="sitetypeadd">-->
    <!--</form>-->
    <!--<table>-->
        <!--<caption>site type</caption>-->
        <!--<tr>-->
            <!--<th>id</th>-->
            <!--<th>type</th>-->
        <!--</tr>-->
        <!--{% for site_type_one in site_type %}-->
        <!--<tr>-->
            <!--<td>{{ site_type_one.id }}</td>-->
            <!--<td>{{ site_type_one.typename }}</td>-->
            <!--<td><a href="">更改类型名字</a></td>-->

            <!--<td><a href="">删除</a></td>-->
        <!--</tr>-->
        <!--{% endfor %}-->
    <!--</table>-->


<p>
    <a href={% url "sitecollect:site_type_add" %}>add type</a>
    <a href=>delete type</a>
</p>

</div>

{% endblock %}