{% extends 'adminlte/base.html' %}


{% block content %}

<!--<p>host index page</p>-->

<!-- Content Wrapper. Contains page content -->
<div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ info }}
        <!--<small>advanced tables</small>-->
      </h1>
      <ol class="breadcrumb">
          {{ request.path }}
        <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
        <!--<li><a href="#">Tables</a></li>-->
        <!--<li class="active">Data tables</li>-->
      </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="row-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">data table</h3>
                    </div>
                    {% block table_name %}{% endblock table_name %}
                </div>
            </div>
        </div>
    </section>
</div>


<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>

{% endblock %}