
<!-- 右侧顶部 -->
<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>




        </div>
        <ul class="nav navbar-top-links navbar-right">



            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                     <span class="m-r-sm text-muted welcome-message">帮助</span>
                </a>
            </li>
            <li class="dropdown">

                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="m-r-sm text-muted welcome-message">
                        <img alt="image" class="img-circle" width="30" height="30" src=""/>
                        <span style="font-size: 13px;font-weight: 400"> 测试
                            <b class="caret"></b>
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a href=""><i class="fa fa-cogs">  </i><span> 支持</span></a></li>
                    <li class="divider"></li>


                            <li><a id="switch_admin"><i class="fa fa-exchange"></i><span> 转到admin</span></a></li>

                            <li><a id="switch_user"><i class="fa fa-exchange"></i><span> 转到用户</span></a></li>

                    <li><a href=""><i class="fa fa-sign-out"></i> 退出登录</a></li>
                </ul>

                <a href="">
                    <i class="fa fa-sign-in"></i>登录
                </a>

            </li>
        </ul>
    </nav>
</div>


