<!-- 这个是左侧的导航栏-->
<li id="index">
    <a href="{% url 'index' %}">
        <i class="fa fa-dashboard" style="width: 14px"></i><span class="nav-label">仪表盘</span><span class="label label-info pull-right"></span>
    </a>
</li>
<li id="links">
    <a href="{% url 'siteindex' %}">
        <i class="fa fa-dashboard" style="width: 14px"></i><span class="nav-label">网址收藏</span><span class="label label-info pull-right"></span>
    </a>
    <ul class="nav nav-second-level active">
        <li id="links"><a href="{% url 'managesite' %}">链接管理</a> </li>
        <li id="add-link"><a href="{% url 'addsite' %}">添加链接</a> </li>
        <li id="delete-link"><a href="{% url 'deletesite' %}">删除链接</a> </li>
        <li id="type-manage"><a href="{% url 'typemanage' %}">链接类型</a> </li>
    </ul>
</li>
<li id="users">
    <a href="">
        <i class="fa fa-group" style="width: 14px"></i><span class="">用户管理</span><span></span>
    </a>
    <ul class="nav nav-second-level active">
        <li id="user"><a href="">用户列表</a> </li>
        <li id="user-group"><a href="">用户组</a> </li>
        <li id="login-log"><a href="">登陆日志</a> </li>
    </ul>
</li>
<li id="users">
    <a href="">
        <i class="fa fa-group" style="width: 14px"></i><span class="">资产管理</span><span></span>
    </a>
    <ul class="nav nav-second-level active">
        <li id="host-list"><a href="{% url 'host_index' %}">主机列表</a> </li>
        <li id="user"><a href="{% url 'host_add' %}">添加主机</a> </li>
        <!--<li id="user"><a href=""></a> </li>-->
    </ul>
</li>
<li id="cmdb">
    <a href="{% url 'cmdb_index' %}">
        <i class="fa fa-group" style="width: 14px"></i><span class="">配置管理</span><span></span>
    </a>
    <ul class="nav nav-second-level active">
        <li id="gl"><a href="">GL</a> </li>
        <li id="user"><a href="">用户组</a> </li>
        <li id="user"><a href="">系统用户</a> </li>
    </ul>
</li>
<li id="settings">
    <a href="">
        <i class="fa fa-gears"></i> <span class="nav-label">设置</span><span class="label label-info pull-right"></span>
    </a>
</li>