<!--ok -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>iom</title>
    <link rel="shortcut icon" href="{% static 'img/facio.ico' %}" type="image/x-icon">
    {% include '_head_css_js.html' %} <!-- some css and js lib -->
    <link href="{% static 'css/iom.css' %}" rel="stylesheet">
    <!--{% block custom_head_css_js %} {% endblock %}-->

</head>
<body>
<div id="wrapper">
    {% include '_left_side_bar.html' %} <!-- 左侧导航栏  -->
    <div id="page-wrapper" class="gray-bg">
        {% include '_header_bar.html' %}
        {% block help_message %} {% endblock %}
        {% include '_message.html' %}
        {% block content %}{% endblock %}
        {% include '_footer.html' %}
    </div>
</div>
</body>
{% include '_foot_js.html' %}
<!--{% block custom_foot_js %} {% endblock %}-->
</html>