{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="sitecollect">
    <p>hello, every body, this page is a collect site page.</p>
{% for sitetype, sitetotal in site_info.items %}
    {% if sitetotal %}

    <table>
        <caption>{{ sitetype }}</caption>
        <tr>
            {% for sitename, siteurl in sitetotal.items %}
            <td><a href={{ siteurl }}> {{ sitename }} | </a></td>
            {% endfor %}
        </tr>
    </table>

    {% endif %}


{% endfor %}
<p>
    <a href={% url 'addsite' %}>add</a>
    <a href={% url 'deletesite' %}>delete</a>
</p>

</div>

{% endblock %}
